<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        #outer { 
            display: flex;
            justify-content: space-between;
            flex-direction: column; 
            flex-wrap: wrap; 
            height: 120px; 
        } 
  
        .div { 
            width: 180px; 
            flex: 0 0 50px; 
            margin: 5px; 
        } 
    </style> 
</head>
<body>
    <div >
    <ul> 
        <% movies.forEach((item)=>{%> 
            <li> 
                <%=item._id%> <%=item.movieName%> 
            </li> 
            <%});%> 
    </ul>
    </div>
    <div id="outer">
    <div class="div">
        <h2>Get Movie by ID</h2>
    <form action="/get-single" >
        <label for="id">ID</label>
        <input type="text" id="id" name="id"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
      <br><br>
      <div class="div">
        <h2>Enter Page No. and Size</h2>
      <form action="/get-paginated" >
        <label for="page">Page No:</label>
        <input type="number" id="page" name="page"><br><br>
        <label for="size">Size</label>
        <input type="number" id="size" name="size"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <br><br><br>
    <div class="div">
        <h2>Add Movie</h2>
        <form action="/add-movie" method="POST">
          <label for="_id">ID:</label>
          <input type="text" id="_id" name="_id"><br><br>
          <label for="movieName">movie Name</label>
          <input type="text" id="movieName" name="movieName"><br><br>
          <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>