<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onlyTens</title>
</head>
<body>
    <ul> 
        <% movies.forEach((item)=>{%> 
            <li> 
                <%=item.id%> <%=item.movieName%> 
            </li> 
            <%});%> 
    </ul>
</body>
</html>